wsdl/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="FootballService"
             targetNamespace="http://www.example.com/football"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.example.com/football"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <xsd:schema targetNamespace="http://www.example.com/football">
            <xsd:element name="registerMatchRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="home_team" type="xsd:string"/>
                        <xsd:element name="away_team" type="xsd:string"/>
                        <xsd:element name="home_score" type="xsd:int"/>
                        <xsd:element name="away_score" type="xsd:int"/>
                        <xsd:element name="match_date" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registerMatchResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:string"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="registerMatchRequest">
        <part name="parameters" element="tns:registerMatchRequest"/>
    </message>
    <message name="registerMatchResponse">
        <part name="parameters" element="tns:registerMatchResponse"/>
    </message>

    <portType name="FootballServicePortType">
        <operation name="registerMatch">
            <input message="tns:registerMatchRequest"/>
            <output message="tns:registerMatchResponse"/>
        </operation>
    </portType>

    <binding name="FootballServiceBinding" type="tns:FootballServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="registerMatch">
            <soap:operation soapAction="http://www.example.com/football/registerMatch"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="FootballService">
        <port name="FootballServicePort" binding="tns:FootballServiceBinding">
            <soap:address location="http://www.example.com/football_service.php"/>
        </port>
    </service>
</definitions>
